:root {
    --color-1: #fff;
    --color-2: #F5F7FA;
    --color-3: #185FA5;
    --color-4: #E6F1FB;
    --color-5: #888888;
    --color-6:#5A8AB5;
    --color-7: #5A8AB5;
    --color-8: #1776C4;
    --color-9: #29A6E0;
    --color-10: #D6F5E8;
    --color-11: #0C3D6B;
    --color-12: #A32D2D;   
    --color-13: #D6F5E8;
    --color-14: #E02929;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    width: 100vw;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

header img {
    width: auto;
    height: 60px;
}

header h3 {
    font-size: 14px;
}

header span {
    font-size: 12px;
    color: var(--color-5);
}

header a {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-6);
    margin-right: 20px;
}

.block {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    height: auto;
    flex: 1;
}

.funcionalidades {
    color: var(--color-5);
    font-size: 13px;
    margin-top: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 10px;
}

.not-click {
    border-radius: 15px;
    border: none;
    background-color: var(--color-1);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
}

.click {
    border-radius: 15px;
    border: none;
    background-color: var(--color-4);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
    color: var(--color-3);
}

.container {
    width: 100%;
    background-color: var(--color-2);
    padding: 15px;
}

.naoAlcoolico, .alcoolico  {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categoria-nao-alcoolica, .categoria-alcoolica  {
    display: flex;
    gap: 2vw;
}

h2 {
    font-size: 16px;
}

.frase {
    font-size: 14px;
    color: var(--color-5);
}

.titulo-nao-alcoolico, .titulo-alcoolico {
    color: var(--color-9);
    font-size: 20px;
}

.animation {
    font-weight: bold;
    font-size: 12px;
    background-color: var(--color-1);
    border: 1px solid var(--color-9);
    border-radius: 10px;
    width: 110px;
    height: 30px;
    color: var(--color-9);
}

.selecao {
    color: var(--color-1);
    background-color: var(--color-9);
    transform: translateY(2px);
}

.atualizar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background-color: var(--color-9);

}

.deletar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background-color: var(--color-12);
}

.deletar:active, .atualizar:active {
    transform: translateY(2px);
}

.atualizar img, .deletar img {
    height: 95%;
    width: auto;
}

.alcoolico, .naoAlcoolico {
    display: flex;
    gap: 20px;
}

.carrossel-wrapper {
    width: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carrossel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
    will-change: transform;
}

.carrossel {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 700px; 
}

.box-drink {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    gap: 15px;
    width: 200px;
    background-color: var(--color-13);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.box-drink span {
    position: relative;
    left: -60px;
    color: var(--color-9);
    font-weight: bold;
    bottom: 5px;
}

.box-drink img {
    height: 100px;
    width: auto;
}

.info {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-1);
    height: auto;
    width: 200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info h6{
    color: var(--color-9);
}

.info h5{
    font-size: 16px;
    color: var(--color-11);
}

.info p {
    max-width: 180px;
    margin: 0 auto;
    font-size: 12px;
    color: var(--color-7);
    text-align: center;
}

.valor {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-8);

}

.bt-atualizar {    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-9);
    height: 25px;
    width: 40px;
    border-radius: 15px;
    border: none;
}

.bt-deletar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-14);
    height: 25px;
    width: 40px;
    border-radius: 15px;
    border: none;
}

.bt-atualizar:active {
    transform: translate(1px, 1px);
}

.bt-deletar:active {
    transform: translate(1px, 1px);
}

.box-botoes {
    display: flex;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 330px;
    width: 180px;
}

footer {
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: var(--color-6);
    background: linear-gradient(to right, #0C3D6B, #042C53);
}